body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main {
  width: calc(100% - 2em);
  max-width: 600px;
  border: 1px solid white;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
textarea {
  width: 100%;
  white-space: inherit;
  resize: none;
}
