:root {
  font-family: "VT323", monospace;
  color-scheme: dark;
}
body {
  margin: 0;
  background-color: black;
  font-size: 24px;
}
* {
  box-sizing: border-box;
}
input,
textarea,
button {
  font: inherit;
}
input {
  border: 1px solid white;
  padding: 0.25em 0.5em;
  background-color: #222;
}
button {
  border: 1px solid white;
  padding: 0.25em 0.5em;
  background-color: #222;
}
button:hover {
  cursor: pointer;
  background-color: #666;
}
